* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Gentona;
  height: 1000px;
}
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  font-weight: 600;
}
.navbar-nav li :hover {
  background-color: #0b0ff0;
  border-radius: 15px;
}
.navbar {
  background-image: linear-gradient(to right, #000428, #004e92);
}
#test {
  display: flex;
  align-items: center;
  color: #ffedbc;
  font-family: Brush Script MT;
}
/*-------------bannar----------------*/
#banner {
  background-image: linear-gradient(to right, #000428, #004e92);
  color: white;
  padding-top: 10%;
  text-align: center;
}
.title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 62px;
}
#banner p {
  font-size: 15px;
  font-weight: bold;
}

.bottom-img {
  width: 100%;
}
.chan {
  padding-top: 5%;
  padding-bottom: 10px;
}
#banner .btn {
  margin: 20px;
  width: 200px;
}
/*-----------about---------------*/
#about {
  padding: 60px 0;
  background-color: #f8f9fa;
}

/*#about .about-container {
  display: flex;
  align-items: ;
}*/
#about .about-container .background {
  margin: 20px 0;
}

#about .about-container .content {
  background: #f8f9fa;
}

#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

#about .about-container p {
  line-height: 26px;
  font-weight: bolder;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

#about .about-container .icon-box {
  background: #f8f9fa;
  line-height: 10px;
  padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #f8f9fa;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #007bff;
  transition: all 0.3s ease-in-out;
}

#about .about-container .icon-box .icon i {
  color: #007bff;
  font-size: 24px;
}

#about .about-container .icon-box:hover .icon {
  background: #007bff;
}

#about .about-container .icon-box:hover .icon i {
  color: #fff;
}

#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}

#about .about-container .icon-box .title a {
  color: #283d50;
}

#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

#about .about-extra {
  padding-top: 60px;
}

#about .about-extra h4 {
  font-weight: 600;
  font-size: 24px;
}

.section-header {
  text-align: center;
  font-family: Gentona;
  font-size: 20px;
  font-weight: bolder;
  width: 60%;
  margin-left: 20%;
  padding-top: 10px;
}
/*------------------------------*/
.cards {
  text-align: center;
  background-image: linear-gradient(to right, #000428, #004e92);
  color: white;
  width: 100%;
  padding-bottom: 5px;
}
#head {
  padding-top: 50px;
  text-align: center;
  width: 60%;
  padding-bottom: 5%;
}
.card-text,
.card-title {
  color: #fff;
  font-family: Brush Script MT;
}
.card-body {
  background-image: linear-gradient(to right, #000428, #004e92);
}
/*---------------------------------------*/
#slider {
  background-image: linear-gradient(to right, #000428, #004e92);
}

/*------------------------------------------*/
.text-muted {
  text-align: center;
}
.x {
  background-color: #fff !important;
}
.y {
  margin: 0;
  padding-right: 25%;
}

#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
}

#contact .section-header {
  padding-bottom: 30px;
}

#contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #007bff;
}

#contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #007bff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #007bff;
}

#contact .social-links a:hover {
  background: #007bff;
  color: #fff;
}

#contact .info {
  color: #283d50;
}

#contact .info i {
  font-size: 32px;
  color: #007bff;
  float: left;
  line-height: 0;
}

#contact .info p {
  padding: 0 0 10px 36px;
  line-height: 28px;
  font-size: 14px;
}

#contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

#contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#contact .php-email-form input,
#contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .php-email-form input:focus,
#contact .php-email-form textarea:focus {
  border-color: #007bff;
}

#contact .php-email-form input {
  padding: 10px 15px;
}

#contact .php-email-form textarea {
  padding: 12px 15px;
}

#contact .php-email-form button[type="submit"] {
  background: #007bff;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}

#contact .php-email-form button[type="submit"]:hover {
  background: #0067d5;
  cursor: pointer;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.z {
  background-image: linear-gradient(to right, #000428, #004e92);
}
/*---------New------------*/
#why-us {
  padding: 60px 0;
  background-image: linear-gradient(to right, #000428, #004e92);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
}

#why-us .section-header h3,
#why-us .section-header p {
  color: #fff;
}

#why-us .card {
  background: #00458f;
  border-color: #00458f;
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s ease-in-out;
  height: 100%;
}

@media (max-width: 991px) {
  #why-us .card {
    margin: 0;
  }
}

#why-us .card:hover {
  background: #003b7a;
  border-color: #003b7a;
}

#why-us .card i {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}

#why-us .card h5 {
  font-size: 22px;
  font-weight: 600;
}

#why-us .card p {
  font-size: 15px;
  color: #d8eafe;
}

#why-us .card .readmore {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  transition: 0.3s ease-in-out;
  border-bottom: #00458f solid 2px;
}

#why-us .card .readmore:hover {
  border-bottom: #fff solid 2px;
}

#why-us .counters {
  padding-top: 40px;
}

#why-us .counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #fff;
}

#why-us .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #cce5ff;
}
